<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="filter.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>
<body>
    <div class="filter">
    <div class="filter-bar">
        ALL<a class="filter-circle" onclick="all()" href="/component/urlparameter/url.html?age=all"><div class="click-circle"  style="background-color: black;" ></div></a>
        0-3<a class="filter-circle" onclick="age03()" href="/component/urlparameter/url.html?age=0-3"><div class="click-circle"></div></a>
        4-6<a class="filter-circle" onclick="age46()" href="/component/urlparameter/url.html?age=4-6"><div class="click-circle"></div></a>
        7-12<a class="filter-circle" onclick="age712()" href="/component/urlparameter/url.html?age=7-12"><div class="click-circle"></div></a>
    </div>
    <div class="border-right"></div>
    <div class="short-by-year">
        <p>Sort by year</p>
        <a href=""><i class="fa-solid fa-arrow-up"></i></a>
        <a href=""><i class="fa-solid fa-arrow-down"></i></a>
    </div>
</div>
</body>
</html>