.filter{
    display: flex;
    align-items: center;
}
.filter-bar{
    width: 30%;
    font-size: 25px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.filter-circle{
    padding: 5px;
    border-radius: 50%;
    border: 1px solid black;
}
.click-circle{
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.click-circle:hover{
    background-color: black;
}
.border-right{
    height: 43px;
    border-right: 1px solid black;
}
.short-by-year{
    display: flex;
    align-items: center;
}
.short-by-year p{
    font-size: 27px;
    margin-left: 30px;
    margin-right: 10px;
}
.short-by-year i{
    color: black;
    margin-right:10px;
    border: 1px solid black;
    padding: 10px;
    font-size: 25px;
}