*{
   padding: 0;
   margin: 0;
   box-sizing: border-box; 
}
body{
    font-family: 'Outfit';
    background-color: #F6F8EA;
}
.contact-container{
    margin-top: 80px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.contact-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.contact-left-title h2{
    font-weight: 600;
    color: #a363aa;
    font-size: 40px;
    margin-bottom: 5px;
}
.contact-left-title hr{
    border: none;
    width: 120px;
    height: 5px;
    background-color: #a363aa;
    border-radius: 10px;
    margin-bottom: 20px;
}
.contact-inputs{
    width: 400px;
    height: 50px;
    border: none;
    outline: none;
    padding: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.contact-left textarea{
    height: 140px;
    padding-top: 15px;
    border-radius: 20px;
}
.contact-inputs:focus{
    border: 2px solid #ff994f;  
}
.contact-inputs::placeholder{
    color: #a9a9a9;
}
.contact-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ff994f,#Fa6d86);
}
.contact-right{
    box-sizing: border-box;
    padding: 15px;
    border-radius: 20px;
    border: 1px solid #288268;
    width: 500px;
    color: #288268;
}
.contact-right p{
    display: inline-block;
    font-size: 30px;
    letter-spacing: 0px;
    /* place-items: 20px; */
    padding-left: 20px;
    font-family: 'Times New Roman', Times, serif; 
    font-weight: bolder;
    line-height:1.5;  
 }
 .contact-right h6{
     margin-left: 7%;
     font-size: 25px;
     font-family: 'Times New Roman', Times, serif;
     
     
 }