*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #288268;
}
body{
    background-color: #F6F8EA; 
}
#url{
    color: #288268;
    width: 100%;
    margin: auto;
    display: grid;
}
.each-card{
    height: auto;
    overflow: hidden;
    align-items: center;
    justify-content: space-evenly;
    display: flex;
    /* gap: 20px; */
    height: 290px;
    width: 63%;
    margin: auto;
    border: 1px solid #288268;
    margin-top: 20px;    
}
.images{
    width: 30%;
    height:230px;
    margin-right: -55px;
}
.images img{
    filter: drop-shadow(5px 5px 10px gray);
    border-radius: 10px;
    width: 85%;
    /* object-fit: scale-down; */
    height: 100%;
    object-fit: cover;
}
.txt{
    height: auto;
    width: 70%;
    /* line-height: 1; */
}
.txt :nth-child(1){
    /* color: #0fb0d9c0; */
    /* text-decoration: none; */
    line-height: 1;
    font-weight: 600;
    margin-left: 23px;
    font-size: 20px;
    /* margin-top: 5px; */
}
.txt :nth-child(2){
    text-align: justify;
    line-height: 1;
    margin-left: 23px;
    font-size: 17px;
    /* margin-top: 5px; */
}
.txt2{
    align-items: center;
    justify-content: space-between;
    display: flex;
    font-size: 20;
    margin-bottom: 8px;
}
.txt2 :nth-child(1){
    font-weight: 500;
}
.txt2 :nth-child(2){
    font-size: 18px;
}
audio{
    margin-left: 23px;
    /* background-color: black; */
    border: solid black;
    width: 98%;
}